*.apk
*.ap_
*.dex
*.class
*.log
*.iml
*.zip
*.rar
local.properties

.gradle
.idea
.DS_Store
build/

node_modules/
package-lock.json
*.DS_Store
.DS_Store
android/app/prod/release/
android/test-mass-handler/
android/mockable/

android/app/hml/release/

android/app/prod/debug/output.json

yarn.lock
android/menu.properties
